include options
include ../includes/mixins
div.col-xs-12.col-sm-6.col-md-3
    div.thumbnail
        -
            var boloStatus;
            if (bolo.createdOn < bolo.lastUpdated && Date.now() - bolo.lastUpdated <= 604800000)
                boloStatus = 'Updated';
            else if (Date.now() - bolo.createdOn <= 604800000)
                boloStatus = 'New';
        div.status
            h3.text-uppercase.text-center.text-danger.strong #{boloStatus}

        div.boloImageContainer.boloImageCenterer

            if !(bolo.status === 'ACTIVE')
                div#thumbnailstatus.col-xs-12
                    p.text-center.text-danger.strong #{bolo.status}
            img( src="img/bolo/featured/" + bolo.id alt='Featured Image' )



        div.category
            h4.strong(style = "text-align: center;") #{bolo.category.name}

        div.caption
            p <b>Updated:</b> #{bolo.lastUpdated}
            p <b>Created On:</b> #{bolo.createdOn}
            p <b>Posted By:</b> #{bolo.agency.name}
