extends layout

block jumbo
    .jumbotron
        .container
            .row
                div.col-xs-12
                    p BOLO Details
            .row
                .col-xs-14.col-md-6
                    .pull-left
                        a.btn.btn-default.pull-right( href="/bolo/pdf/" + bolo.id ,target="_blank" ) Generate PDF
                        button.btn.btn-primary(onclick='history.go(-1);') Go Back
                .col-xs-14.col-md-6
                    .pull-right
                        if((bolo.record) && (tier > 2))
                            a.btn.btn-default.pull-right( href="/bolo/details/record/" + bolo.id) View Record


block content

    include partials/global-alerts

    div#boloPage.container-fluid
        div.row
            div.col-xs-2
                img#logo.img-fluid( src='/img/agency/logo/' + bolo.agency.id alt="Agency Logo")
            div.col-xs-8.text-center
                p.text-danger #{"UNCLASSIFIED// FOR OFFICIAL USE ONLY// LAW ENFORCEMENT SENSITIVE"}
                    p.strong #{bolo.agency.name} Police Department
                    p
                        em #{bolo.agency.address}
                    p
                        em #{bolo.agency.city}, #{bolo.agency.state}. #{bolo.agency.zip}
                    p
                        em #{bolo.agency.phone}
            div.col-xs-2
                img#badge.img-fluid( src='/img/agency/shield/' + bolo.agency.id alt="Agency Shield" )
        //if(bolo.status !== "New" && bolo.status !== "Updated")
            div#editedcategorytext.text-center
                text-danger.strong #{bolo.category}
            | &nbsp;
            | &nbsp;
        //else
            div#categorytext.text-center
                h1.text-danger.strong #{bolo.category}
            | &nbsp;
            | &nbsp;
        .row
            if(bolo.status !== 'ACTIVE')
                div#updatedstatus.col-xs-12
                    p.text-center.text-danger.strong #{bolo.status}
            else
                div.col-xs-12
                    p.text-center.text-danger.strong #{bolo.status}
        .row.img-fluid.boloDetailsImages
            if (bolo.featured.data && !bolo.other1.data && !bolo.other2.data)
                .col-xs-8
                    img.img-responsive(src="/img/bolo/featured/" + bolo.id)
            else if (bolo.featured.data && bolo.other1 && !bolo.other2.data)
                .col-xs-6
                    img.img-responsive(src="/img/bolo/featured/" + bolo.id)
                .col-xs-6
                    img.img-responsive(src="/img/bolo/other1/" + bolo.id)
            else if (bolo.featured.data && !bolo.other1 && bolo.other2.data)
                .col-xs-6
                    img.img-responsive(src="/img/bolo/featured/" + bolo.id)
                .col-xs-6
                    img.img-responsive(src="/img/bolo/other2/" + bolo.id)
            else if (bolo.featured.data && bolo.other1.data && bolo.other2.data)
                .col-xs-4
                    img.img-responsive(src="/img/bolo/other1/" + bolo.id)
                .col-xs-4
                    img.img-responsive(src="/img/bolo/featured/" + bolo.id)
                .col-xs-4
                    img.img-responsive(src="/img/bolo/other2/" + bolo.id)

        .col-xs-8#boloDetails
            - for (var i = 0; i < bolo.fields.length; i++)
                .row
                    p #{bolo.category.fields[i]}: #{bolo.fields[i]}

        .row
            div.col-xs-8#created
                p.strong Created: #{bolo.createdOn}
        .rowcol-xs-8#additionalDetails
            p.strong Additional Info:
                p #{bolo.info}
                | &nbsp;
            p.strong Video Link:
                a(href=bolo.videoURL) #{bolo.videoURL}
                | &nbsp;
            p.strong Summary:
                p #{bolo.summary}
                | &nbsp;
            p.strong This BOLO was created by #{bolo.author.unit}  #{bolo.author.rank} #{bolo.author.firstname} #{bolo.author.lastname}.
            p.strong Please contact the agency should clarification be required.
