extends layout

block jumbo
    .jumbotron
        .container
            h3 BOLO Preview
            .pull-left
                button.btn.btn-primary(onclick='history.go(-1);') Go Back

block content
    .row
        .col-xs-2
            img.img-responsive( src='/img/agency/logo/' + bolo.agency alt="Agency Logo")
        .col-xs-8.text-center
            p.text-danger #{"UNCLASSIFIED// FOR OFFICIAL USE ONLY// LAW ENFORCEMENT SENSITIVE"}
                p.strong #{agency.name} Police Department
                p
                    em #{agency.address}
                p
                    em #{agency.city}, #{agency.state}. #{agency.zip}
                p
                    em #{agency.phone}
        .col-xs-2
            img.img-responsive( src='/img/agency/shield/' + bolo.agency alt="Agency Shield" )
    .row
        if(bolo.status !== 'ACTIVE')
            div#updatedstatus.col-xs-12
                h2.text-center.text-danger.strong #{bolo.status}
        else
            div.col-xs-12
                h2.text-center.text-danger.strong #{bolo.category.name} -- #{bolo.status}

    //Render Images
    .row
        .col-xs-12.col-md-12
            if (bolo.featured.data && !bolo.other1.data && !bolo.other2.data)
                .col-xs-12.col-md-10.col-md-offset-1
                    a(href="/img/bolo/featured/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/featured/" + bolo.id)
            else if (bolo.featured.data && bolo.other1 && !bolo.other2.data)
                .col-xs-12.col-md-6
                    a(href="/img/bolo/other1/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/other1/" + bolo.id)
                .col-xs-12.col-md-6
                    a(href="/img/bolo/featured/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/featured/" + bolo.id)
            else if (bolo.featured.data && !bolo.other1 && bolo.other2.data)
                .col-xs-12.col-md-6
                    a(href="/img/bolo/other2/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/other2/" + bolo.id)
                .col-xs-12.col-md-6.col-xs-12
                    a(href="/img/bolo/featured/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/featured/" + bolo.id)

            else if (bolo.featured.data && bolo.other1.data && bolo.other2.data)
                .col-xs-12.col-md-4
                    a(href="/img/bolo/other1/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/other1/" + bolo.id)
                .col-xs-12.col-md-4
                    a(href="/img/bolo/featured/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/featured/" + bolo.id)
                .col-xs-12.col-md-4
                    a(href="/img/bolo/other2/" + bolo.id)
                        img.img-responsive.boloPictures(src="/img/bolo/other2/" + bolo.id)
            else
                .col-xs-12.col-md-10.col-md-offset-1
                    img.img-responsive.boloPictures( src="/img/nopic.png" alt='Featured Image')

    br
    br
    .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
            dl.dl-horizontal
                dt.strong BOLO ID:
                dd #{bolo.id}

                - for (var i = 0; i < bolo.fields.length; i++)
                    dt.strong #{category.fields[i]}:
                    dd #{bolo.fields[i]}

                dt.strong Created:
                dd #{bolo.createdOn}

                dt.strong Additional Info:
                if bolo.info.length
                    dd #{bolo.info}
                else
                    dd N/A

                dt.strong Video Link:
                if bolo.videoURL.length
                    a(href=bolo.videoURL target="_blank")
                        dd #{bolo.videoURL}
                else
                    dd N/A
                dt.strong Summary:
                if bolo.summary.length
                    dd #{bolo.summary}
                else
                    dd N/A
    .row
        .col-xs-8.col-xs-offset-2.text-center
            if (bolo.author)
                p.strong This BOLO was created by #{userName}.
                p.strong Please contact the agency should clarification be required.
            else
                p.strong The author of this bolo has been removed.
                p.strong Please contact the agency should clarification be required.